*.pyc

Pipfile
ursaworks-control-project/build
ursaworks-control-project/Pipfile.lock
project.xml.log

.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.sconsign.dblite
.robot_type.txt

gcov-result

docs/_build
docs/api
docs/doxyoutput
Software.code-workspace
